packages/
Testility.UnitTests/obj/
Testility.Domain/obj/
Testility.UnitTests/bin/
Testility.Domain/bin/
Testility.WebUI/bin/
Testility.WebUI/obj/
Testility.Engine/obj/
Testility.Engine/bin/
Testility.Logger/obj/
Testility.Logger/bin/
