
<script type="text/ng-template" id="Browser.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="list-group">
            <a ng-class="selected(item) ? 'list-group-item active' : 'list-group-item'" ng-repeat="item in items" href="#" ng-click="$event.preventDefault(); mark(item)" >{{ printItem(item) }}</a>
        </div>
        Selected: <b>{{ printSelected() }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
