<span class="content" ng-transclude></span>
<script type="text/ng-template" id="Browser.html">
    <div class="modal-header bg-primary">
        <h3 class="modal-title"><span class="glyphicon glyphicon-cog"></span> {{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Search</button>
                    </span>
                    <input type="text" ng-model="searchText" class="form-control" placeholder="Search for...">
                </div>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a ng-class="selected(item) ? 'list-group-item text-primary active' : 'list-group-item text-primary'" ng-repeat="item in items | filter:searchText" href="#" ng-click="$event.preventDefault(); mark(item)">{{ printItem(item) }}</a>
                </div>
                <b>{{ printSelected() }}</b>
            </div>
            <div class="text-center panel-footer">
                <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>        
    <div class="modal-footer">
        <div class="col-md-6 col-lg-offset-6">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-primary" href="" ng-click="ok()">OK</a>
                <a class="btn btn-warning" href="" ng-click="cancel()">Cancel</a>
            </div>
        </div>
    </div>    
</script>
<input type="hidden" ng-if="{{ isResult }}" ng-repeat="item in selected" name="{{ resultName }}" value="{{ getResultValue(item) }}" />
