<ul class="nav navbar-nav">
    |
    <li><a href="#"><span class="glyphicon glyphicon-plus" /> UnitTest</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-folder-open" /> UnitTest </a></li>
    <li><a href="#"><span class="glyphicon glyphicon-list" /> History</a></li>
    <li><a href="@Url.Action("List", "Solution", new { area = "Setup"})"><span class="glyphicon glyphicon-cog"></span> Setup</a></li>
</ul>

