@model Testility.WebUI.Model.SolutionViewModel

@{
    ViewBag.Title = "Delete[" + Model.Name + "]";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div><h2><strong><span class="glyphicon glyphicon-trash"></span> Are you sure you want to delete this solution?</strong></h2></div>
    </div>
    @Html.EditorForModel()
    <div class="panel-footer">
        <div class="text-center">
            @using (Html.BeginForm("Delete", "UnitTest", FormMethod.Post, new { id = "Delete", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="table">
                    <div class="td-left">
                        <a href="@Url.Action("List")">
                            <span class="glyphicon glyphicon-step-backward"></span> Back to Projects Explorer
                        </a>
                    </div>
                    <div class="td-right">
                        <button type="submit" value="Save" class="btn btn-danger btn-lg" form="Delete">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Save
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
