<div class="panel panel-default">
    <div class="panel-heading">
        <label>Email confirmation</label>
    </div>

    <div class="panel-body">
        <label> Thank you for confirming your email. Please @Html.ActionLink("click here to log in", "LogIn", "Auth", null, null) </label>
    </div>

    <div class="panel-footer">

    </div>
</div>
